@model RecipePortal.Models.Recipe

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-md-5">
        <h1 class="text-center h3">Recipe Title</h1>
        <div class="rating text-center">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
        <p>Lorem ipsum dolor sit amet, oratio facilis eligendi vis ad, vide eruditi nam ex. Mel tincidunt sadipscing an, stet numquam ea his, ei ius mutat congue. Ne his mutat posse mediocrem, ut constituto dissentias quo, ne fugit legere pro. Nec in vero clita, ex sit duis iriure laboramus. Te zril laboramus efficiantur sea, quas augue sonet eum id. In graece legimus vix, maiorum delicata sententiae ad vix, qui ex possit debitis percipitur.</p>
    </div>
    <div class="col-md-7">
        <img class="img-responsive" src="https://placeimg.com/800/400/nature" alt="Recipe Title" />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Ingredients</h2><hr/>
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Aliquam tincidunt mauris eu risus.</li>
                    <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Vivamus vestibulum ntulla nec ante.</li>
                    <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Vestibulum auctor dapibus neque.</li>
                    <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Nunc dignissim risus id metus.</li>
                    <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Cras ornare tristique elit.</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Aliquam tincidunt mauris eu risus.</li>
                    <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Vivamus vestibulum ntulla nec ante.</li>
                    <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Vestibulum auctor dapibus neque.</li>
                    <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Nunc dignissim risus id metus.</li>
                    <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Cras ornare tristique elit.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Recent recipes</h2><hr />
    </div>
</div>